/* Reset */
* {
    padding: 0px;
    margin: 0px; 
    box-sizing: border-box;
}
li {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
}

h1, h2, h3 {
    font-weight: 600;
    color:  hsl(210, 10%, 33%);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.75rem;
    margin-bottom: 15px;
}

p {
    font-weight: 400;
    color:hsl(201, 11%, 66%);
    line-height: 180%;
}

.flex {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
/* Header */
.header {
    max-width: 1440px;
    margin: 0 auto;   
}
.header div {
    background-image: url(../imagens/bg-header-desktop.png);
    padding: 110px 0 0 0;
    height: 250px;
}
.header div img{
    margin: 0 auto;
    max-width: 90px;
}

/* Seccao Download */
.download {
    position: relative;
    top: -10px;
    text-align: center;
    padding-top: 0;
}
.download p {
    max-width: 550px;
    margin: 0 auto;
}

.download div {
    margin: 20px auto;
}

.download button {
    padding: 13px 27px;
    border-radius: 30px;
    color: white;
    border: none;
    box-shadow: 0px 5px 9px rgba(0,0,0,0.2);
    margin: 0 5px;
}

.btn-download-ios {
    background-color: hsl(171, 66%, 44%);
}
.btn-download-mac {
    background-color: hsl(233, 100%, 69%);
}

/* Seccao keep-track */

.keep-track {
    margin: 50px auto;
    text-align: center;
}
.keep-track p{
    max-width: 620px;
    margin: 0 auto;
}