/* Reset */
* {
    padding: 0px;
    margin: 0px; 
    box-sizing: border-box;
}
li {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
}

h1, h2, h3 {
    font-weight: 600;
    color:  hsl(210, 10%, 33%);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.75rem;
    margin-bottom: 15px;
}

p {
    font-weight: 400;
    color:hsl(201, 11%, 66%);
    line-height: 180%;
}

.flex {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

/* responsividade geral */
@media (max-width:375px) {
    h1{
        font-size: 2rem;
    }
    h1,h2 {
        margin: 0 auto;
        max-width: 300px;
        margin-bottom: 20px;
    }
}

/* Header */
.header {
    max-width: 1440px;
    margin: 0 auto;   
}
.header div {
    background-image: url(../imagens/bg-header-desktop.png);
    padding: 110px 0 0 0;
    height: 250px;
}
.header div img{
    margin: 0 auto;
    max-width: 90px;
}

/* Seccao Download */
.download {
    position: relative;
    top: -10px;
    text-align: center;
    padding-top: 0;
}
.download p {
    max-width: 550px;
    margin: 0 auto;
}

.download div {
    margin: 20px auto;
}

button {
    padding: 13px 27px;
    border-radius: 30px;
    color: white;
    border: none;
    box-shadow: 0px 5px 9px rgba(0,0,0,0.2);
    margin: 0 5px;
}

.btn-download-ios {
    background-color: hsl(171, 66%, 44%);
}
.btn-download-mac {
    background-color: hsl(233, 100%, 69%);
}

/* Seccao Download responsividade */

@media (max-width:375px) {
    button {
        padding: 15px 85px;
        margin: 7px;
    }
    .download p {
        max-width: 275px;
    }
    p{
        font-size: .9rem;
    }
}

/* Seccao keep-track */

.keep-track {
    margin: 50px auto;
    text-align: center;
}
.keep-track p{
    max-width: 620px;
    margin: 0 auto;
}

/* Seccao keep-track responsividade */

@media (max-width:375px) {

    .keep-track p{
        max-width: 280px;
    }
}

/* Seccao advantages */
.advantages {
    max-width: 1440px;
    margin: 40px auto 100px auto;
}

.advantages div div{
    max-width: 750px;
    overflow: hidden;
    max-height: 730px;
}

.advantages img {
    position: relative;
    right: 55px;
}

.advantages ul {
    max-width: 330px;
    margin: 0 auto;
}

.advantages li {
    text-align: left;
    max-width: 330px;
    margin: 45px 0;
}

/* Seccao advantages responsividade */
@media (max-width:1100px) {
    .advantages img {
        right: 0px;
    }
    .advantages div {
        margin: 0 auto;
    }
    .advantages li {
        text-align: center;
        max-width: 275px;
    }
}

@media (max-width:720px) {
    .advantages div {
        padding: 0 20px;
    }
}
/* Seccao access-clipboard */

.access-clipboard{
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}

.access-clipboard p {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.devices {
    max-width: 850px;
    margin: 0 auto;
}

/* Seccao access-clipboard responsividade */

@media (max-width:375px) {
    .access-clipboard p {
        max-width: 280px;
    }
    .devices {
        padding: 0 20px;
    }
}

/* Seccao productivity-tools */

.productivity-tools {
    max-width:  1440px;
    margin: 30px auto;
    text-align: center;
}

.productivity-tools > div {
    margin-bottom: 50px;
}

.productivity-tools ul li {
    display: inline-block;
    vertical-align: middle;
    max-width: 350px;
    height: 180px;
    margin: 20px;
}

.productivity-tools ul li h3{
    margin: 20px 0;
}

.productivity-tools ul li img{
    margin: 0 auto;
}
.productivity-tools ul li div {
    height: 40px;
}

/* Seccao productivity-tools responsividade */

@media (max-width:375px) {
    .productivity-tools > div p {
        max-width: 280px;
        margin: 0 auto;
    }
    .productivity-tools ul li p {
        max-width: 280px;
    }
}

/* Seccao logos */

.logos {
    max-width: 1440px;
    margin: 30px auto;
    text-align: center;
}

.logos ul li {
    display: inline-block;
    margin: 30px;
}

/* Seccao logos responsividade */

@media (max-width:375px) {
    .logos ul li{
        max-width: 145px;
    }
}

/* Seccao clipboard-for */

.clipboard-for {
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
}

.clipboard-for p {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 40px;
}

/* Seccao clipboard-for responsividade */

@media (max-width:375px) {
    .clipboard-for p {
        max-width: 275px;
    }
}

/* Footer */

.footer {
    background: #E8E8E8;
    padding: 20px 50px;
    max-width: 1440px;
    margin: 0 auto;
}

.footer > ul {
    justify-content: flex-start;
}

.footer ul li{
   vertical-align: middle;
   
   display: inline-block;
}

.footer img {
    max-width: 50%;
}

.footer-links li {
    padding: 5px;
    width: 150px;
}

.footer-links {
    max-width: 500px;
    text-align: left;
    margin-left: 50px;
}

.footer-logo, .footer-links, .footer-social{
    margin: 15px auto;
}

.footer-social a { 
    padding: 10px;
    margin: 0 5px;
    color: hsl(210, 10%, 33%);
}

.footer-social i {
    margin: 5px;
}

/* Footer responsividade */
@media (max-width:375px) {
    .footer-logo, .footer-links, .footer-social{
        margin: 20px auto;
    }
    .footer-logo img {
        margin: 0 auto;
    }

    .footer-links li{
        text-align: center;
        margin: 5px 0;
    }
    .footer-links {
        text-align: center;
    }
}
@media (max-width:720px) {
    .footer-logo img {
        margin: 0 auto;
    }
    .footer-links ul {
        margin: 0 auto;
    }
}

@media (min-width:1440px) {
    .footer-social {
        margin-left: 250px;
    }
}
